<h1>Listing error_events</h1>

<table>
  <tr>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @error_events.each do |error_event| %>
  <tr>
    <td><%= error_event.message %></td>
    <td><%= link_to 'Show', [error_event.server, error_event] %></td>
    <td><%= link_to 'Edit', edit_server_error_event_path(error_event.server, error_event) %></td>
    <td><%= link_to 'Destroy', [error_event.server, error_event], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Error event', new_server_error_event_path(params[:server_id]) %>
