<%= form_for([@data_value.server, @data_value]) do |f| %>
  <% if @data_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_value.errors.count, "error") %> prohibited this data_value from being saved:</h2>

      <ul>
      <% @data_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :value %><br />
    <%= f.text_field :value, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create/Edit Data Value", class: "btn btn-info" %>
  </div>
<% end %>
