<h1>Listing data_values</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_values.each do |data_value| %>
  <tr>
    <td><%= data_value.name %></td>
    <td><%= data_value.value %></td>
    <td><%= link_to 'Show', [data_value.server, data_value] %></td>
    <td><%= link_to 'Edit', edit_server_data_value_path(data_value.server, data_value) %></td>
    <td><%= link_to 'Destroy', [data_value.server, data_value], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data value', new_server_data_value_path(params[:server_id]) %>
