<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @data_value.name %>
</p>

<p>
  <b>Value:</b>
  <%= @data_value.value %>
</p>


<%= link_to 'Edit', edit_server_data_value_path(@data_value.server, @data_value) %> |
<%= link_to 'Back', server_data_values_path(@data_value.server) %>
