<%= form_for(server) do |f| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>IP Address</label>
    <%= f.text_field :ipaddress, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Host Name</label>
    <%= f.text_field :hostname, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Login Name</label>
    <%= f.text_field :loginname, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Login Password</label>
    <%= f.text_field :loginpassword, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Create/Update Server", class: "btn btn-warning" %>
  </div>
<% end %>
